<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oauth</title>
</head>
<body style="text-align: center; font-family: sans-serif;">
    <h1>Hello there, Please log in</h1>
    <a style="text-decoration: none;" href="/auth/google">Login with Google</a>
</body>
</html>